body {
    font-size: 13px;
    line-height: 18px;
    font-family: 'HelveticaNeue', arial, helvetica, sans-serif;
    color: #626262;
}

h1,h2,h3 { margin: .5em 0; }
h1 {
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 40px;
}
h2 {
    font-weight: 100;
    font-size: 30px;
}
h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #3f8671;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background-color: black;
  padding: 1em;
}
.logo {
  max-width: 100px;
}

#hero-theta {
  height: 300px;
  margin-bottom: 1em;
}

@keyframes popin {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

$modal-width: 600px;
.mcx-modal, .smcx-widget, .smcx-modal-content {
  height: $modal-width !important;
  margin-top: 2em;
}
.smcx-modal-content {
  margin-top: 1.5em !important;
  height: $modal-width - 35 !important;
}
.smcx-modal-header {
  display:none;
}

.survey-page-body {
  padding: 1em !important;
}

// code

pre {
  padding: 1em;
  color: #faf6e4;
  background-color: #122b3b;
  code {
    font-family: monospace;
  }
}

// hero
.hero {
  background-image: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%), url(https://s3-us-west-2.amazonaws.com/sl-com-cms/sl-com/agni/images/SL_Homepage_Adventure_Halloween2019.jpg);
  height: 400px;
}

// survey
.survey-hidden {
  display:none;
}

.survey {
  position: fixed;
  bottom: -100%;
  width: 28rem;
  height: 70%;
  left: 0;
  margin-left: 1rem;
  animation-name: popin;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-y: auto;
  padding: 2em;
  border: 1px solid black;
  div#ga-thank-you {
    display:none;
  }
  form.ga-survey {
    display: flex;
    flex-direction: column;

    input[type=button] {
      background-color: #ff7d25;
      border: none;
      color: white;
      font-stretch: normal;
      font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Arial", "Tahoma", "Geneva", sans-serif;
      font-weight: 600;
      font-stretch: normal;
      font-weight: 500;
      padding: 1em 2.5em;
      font-size: 1em;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin-top: 2em;
    }

    > div {
      display: flex;
      flex-direction: column;

      > label {
        margin: 1em 0;
        font-size: 2em;
        color: #ff7d25;
      }

      .image-options, .textbox-color-options  {
        label { margin-right:1em; }

        /* HIDE RADIO */
        [type=radio],[type=checkbox] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* IMAGE STYLES */
        [type=radio] + img, [type=checkbox] + img, [type=radio] + span, [type=checkbox] + span, {
          cursor: pointer;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img, [type=checkbox]:checked + img, [type=radio]:checked + div, [type=checkbox]:checked + div {
          outline: 4px solid #ff7d25;
        }

      }
    }
    .textbox-color-options {
      display: flex;
      flex-wrap: wrap;
      > label {
        margin-top: 10px;
        > div {
          text-align: center;
          padding: 1em 0;
          width: 200px;
          background-color: #eee;
        }
      }
    }
  }
}

.red { background-color: red; }
