---
title: Nazz Linden
---
<div class="container">
  <h1>Sandbox</h1>
  <dl>
  	<dt><%= link_to '360 photos', '/spherical.html' %></dt>
  	<dd>Code to view equirectangular photos in a web page.</dd>

  	<dt><%= link_to 'survey', '/survey.html' %></dt>
  	<dd>Example of a webmonkey survey.</dd>
  </dl>
</div>

