---
title: Nazz Linden
---
<div id="hero-theta">
  <%= image_tag 'spherical.jpg', style: 'display:none', id: 'spherical-img' %>
</div>


<div class="container">
  <h1>Nazz Linden</h1>
  <h2>This is my sandbox</h2>
  <h3>Where I play</h3>
  <p>With web <font color="5CB192">tech</font> that I need to demo to other people<p>
  <p><%= lorem.sentences 5 %></p>
</div>
