---
title: Nazz Linden
---
<div class="hero">
  <%= image_tag 'spherical.jpg', style: 'display:none', id: 'spherical-img' %>
</div>


<div class="container">
  <h1>Survey Example</h1>
  <p><%= lorem.sentences 15 %></p>
</div>

<div id="survey"><script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd5GTJ2jjYQYsTJMsMh3vJNNLy0p7g1jehg4WeTA8pd_2By.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a></div>
