---
title: Nazz Linden
---
<div class="hero">
  <%= image_tag 'spherical.jpg', style: 'display:none', id: 'spherical-img' %>
</div>

<script>(function(t,e,s,o){var n,c,l;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),c=n[n.length-1],l=e.createElement(s),l.type="text/javascript",l.async=!0,l.id=o,l.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd3hrl2XHP3UUpEuwtNfavf9MIGQN4ZSthSza2xspLGzU.js"].join(""),c.parentNode.insertBefore(l,c))})(window,document,"script","smcx-sdk");</script>
